html
  box-sizing: border-box
  font-size: 100%

*,
*::before,
*::after
  box-sizing: inherit

body
  background-color: var(--color-sitebg)
  font-size: var(--font-size)
  font-family: var(--font-sans)
  line-height: var(--line-height)

.wrapper
  width: 100%
  max-width: var(--site-width)
  margin: 0 auto
  padding: 0 20px
