:root
  --color-black: #000
  --color-gray: #2d2d2d
  --color-1: #ff431d
  --color-text: #000
  --color-sitebg: #ff431d
  --color-accent: #f8e81c
  --font-sans: 'Rubik', system-ui, sans-serif
  --font-sans-alt: 'Roboto Mono', system-ui, sans-serif
  --font-size: 16px
  --font-weight: 300
  --line-height: 1.5
  --site-width: 1024px

